body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard-sidebar {
  width: 240px;
  height: 100vh;
  /* background-color: #2e466e;         OLD SIDEBAR COLOR*/
  background-color: #17293F;
  color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
  position: fixed; /* ✅ FIXED */
  top: 0;
  left: 0;
  overflow-y: auto; /* ✅ Enables scrolling */
}

.dashboard-sidebar a:not(.active){
  text-decoration: none;
  color: rgb(214, 214, 214);
}

.active{
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
}
.active li{
  background-color: #374B5F;
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.sidebar-nav-top,
.sidebar-nav-bottom {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav-top {
  flex-grow: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s ease, transform 0.2s ease;
  margin: 5px 0px;
}

.nav-item:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}
.active li:hover{
  transform: scale(1.00);
}

.petvet-logo{
  width: 50px;
}

.icon {
  width: 25px;
  height: 25px;
}
