/* Reset & Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #265B7F, #BCE3F5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Centered Card Wrapper */
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Card */
.card {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-width: 860px;
  width: 100%;
}

/* Image Panel */
.card-image {
  flex: 1;
}

/* From Uiverse.io by SteveBloX */ 
.gobackbtn {
  margin: 30px 0px 0px 30px;
  position: absolute;
  width: 100px;
  height: 35px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 550;
}

.gobackbtn:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}


.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Form Container */
.form-container {
  flex: 1;
  padding: 40px 30px;
}

.form-container h2 {
  margin-bottom: 10px;
  color: #111827;
}

.form-container p {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 20px;
}

/* Input Fields */
form input {
  width: 100%;
  padding: 12px 14px;
  /*margin-bottom: 15px;*/  
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #f9fafb;
  transition: border 0.2s ease;
}

form div{
  margin-bottom: 23px;
}

/* Error Message */
.error-msg {
  position: absolute;
  font-size: 0.85rem;
  color: #ef4444;
  display: block;
}

form input:focus {
  outline: none;
  border-color: #2563eb;
  background-color: #fff;
}

/* Submit Button */
form button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

form button:hover {
  background-color: #1d4ed8;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    max-width: 90%;
  }

  .card-image {
    height: 220px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
